.head{
    padding: 1vh 0;
    text-align : center;
}
.logo{
    height : 8vh;
    cursor : pointer;
}
.greynavbar div{
    background-color: #666666;
    color: white;
}
.div_but{
    box-sizing: border-box;
    padding: 0.8vh 1vw;
    font-size: 2vh;
    width:24vw;
    display: inline-block;
    text-align: center;
    cursor : pointer;


}