.head{
    display: inline-block;
    text-align : center;
}
.logo{
    height : 5vh;
}
.bck{
    background-color: lightyellow;
    height: 5vh;
}
.greynavbar div{
    background-color: #666666;
    color: white;
}
.div_but{
    box-sizing: border-box;
    padding: 0.8vh 1vw;
    font-size: 2vh;
    width:19.6vw;
    display: inline-block;
    text-align: center;
    cursor : pointer;


}