.header_size{
    font-size: 4vh;
    font-style: italic;
    text-align : center;
}
.head{
    display: inline-block;
    width: 59vw;
    color:darkblue;
    text-align: right;
}
.logo{
    display: inline-block;
    width:29vw;
    padding-top: 2vh;
    text-align: center;
}
.bck{
    background-color: lightyellow;
    height: 7vh;
}
.greynavbar a{
    background-color: #333333;
    color: white;
}