<div class="head" ng-click="openMain()">
    <img class = "logo" src="/logo/Politiwall_Website_New_final.png"/>
</div>

<div class="greynavbar">
    <!--<div class="div_but" ng-bind="hebVocab.ourServices"></div>-->
    <div class="div_but" ng-click="openCalendar()" ng-bind="hebVocab.calendary"></div>
    <div class="div_but" ng-click="openNews()" ng-bind="hebVocab.lastNews"></div>
    <div class="div_but" ng-click="openCharts()" ng-bind="hebVocab.lastCharts"></div>
   <!-- <div class="div_but" ng-click="openMain()" ng-bind="hebVocab.homePage"></div>-->
</div>