<div class="row">
    <div class="col-sm-2 logo bck">logo</div>
    <div class="col-sm-6 head">
        <p class="size1" ng-bind="hebVocab.sightHeader"></p>
    </div>
    <div class="col-sm-4 logo bck">contacts</div>
</div>
<div class="btn-group btn-group-justified greynavbar">
    <a class="btn btn-primary" ng-bind="hebVocab.ourServices"></a>
    <a class="btn btn-primary" ng-click="openCalendar()" ng-bind="hebVocab.calendary"></a>
    <a class="btn btn-primary" ng-click="openNews()" ng-bind="hebVocab.lastNews"></a>
    <a class="btn btn-primary" ng-click="openCharts()" ng-bind="hebVocab.lastCharts"></a>
    <a class="btn btn-primary" ng-click="openMain()" ng-bind="hebVocab.homePage"></a>
</div>