.today{
    background-color: #cccccc;
}
.shabbat{
    background-color: #eeeeff;
}
.yearmonth{
    font-size: 2.8vh;
    text-align: right;
    padding-bottom: 1vh;
}
.chevron{
    color: gray;
    font-size: 2vh;
}
.air{
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}
.event{
    font-weight: bold;
}
.calButton{
    outline: none;
    border: 0.15vh solid black;
    background-color: white;
}
.calButton:hover{
    background-color: azure;
}
.daysContainer{
    max-height : 73.5vh;
    overflow-y: auto;
}