
<div ng-controller="calendarCntr">

    <div class="yearmonth">
        <button class="calButton" ng-click = "changeView(1)">שכוה</button>
        <button class="calButton" ng-click = "changeView(0)">חודש</button>

        <span class="chevron glyphicon glyphicon-menu-left" ng-Click="yearMinus()"></span>
        <span>{{year}}</span>
        <span class="chevron glyphicon glyphicon-menu-right" ng-Click="yearPlus()"></span>

        <!--<span>&nbsp&nbsp&nbsp&nbsp</span>-->

        <span class="chevron glyphicon glyphicon-menu-left"ng-Click="monthMinus()"></span>
        <span>{{month}}</span>
        <span class="chevron glyphicon glyphicon-menu-right" ng-Click="monthPlus()"></span>
    </div>

    <div id="daysContainer" class="daysContainer"><ng-include src="viewPages[viewCode]"></ng-include></div>
    <!--<div class="week"ng-repeat="w in weeks">
        <div class="day" ng-repeat="d in w" ng-class="{today : isToday(d.day), shabbat : isShabat(d.day)}" ng-Click="currDate(d)"><div class="date">{{dayFormat(d.day)}}</div>
            <div class="event" ng-class="{fill : d.fill}">{{d.event}}</div>
        </div>
    </div>-->
</div>

