.newsContainer{
    position: absolute;
    left: 25vw;
    display: inline-block;
    width: 75vw;
    padding: 2vh 2vw;
    font-size: 3vh;
}
.newsHtml{
    width: 70vw;
    height: 50vh;
    overflow: auto;
    border: 1px solid darkblue;
    border-radius: 5vh;
    box-shadow: 0 0 1vh 0 rgba(0,0,0,0.3);
    padding: 2vh 2vw;
}
.newsContainer input{
    font-size: 2.5vh;
    margin-bottom: 1vh;
    padding: 0.5vh 1vw;
    width: 65vw;
    outline: none;
}
.newsContainer input:focus{
    background-color: lightyellow;
}