<div class="header">{{model.header}}</div>
<div ng-controller="calendarCntr">
<div class="inputEvent" ng-show="model.showUpload">
    <div class="eventDate">{{showDate}}</div>
    <input class="eventSubj" ng-model="showSubj"/>
    <div class="upload" ng-Click="upload()">{{model.uploadButton}}</div>
    <div class="back" style="top : -7vh"><span class="glyphicon glyphicon-arrow-left" ng-Click="model.back()"></span></div>
</div>

        <div class="col-sm-9 col-sm-offset-2">

            <div class="yearmonth">
                <span class="chevron glyphicon glyphicon-menu-left" ng-Click="yearMinus()"></span>
                <span class="air">{{year}}</span>
                <span class="chevron glyphicon glyphicon-menu-right" ng-Click="yearPlus()"></span>

                <!--<span>&nbsp&nbsp&nbsp&nbsp</span>-->

                <span class="chevron glyphicon glyphicon-menu-left"ng-Click="monthMinus()"></span>
                <span class="air">{{month}}</span>
                <span class="chevron glyphicon glyphicon-menu-right" ng-Click="monthPlus()"></span>
            </div>
        </div>



    <div class="col-sm-12" ng-repeat="w in weeks">
        <div class="day" ng-repeat="d in w" ng-class="{today : isToday(d.day), shabbat : isShabat(d.day)}" ng-Click="currDate(d)"><p class="date">{{dayFormat(d.day)}}</p>
            <p class="event" ng-class="{fill : d.fill}">{{d.event}}</p>
        </div>
    </div>

</div>
</div>
