@font-face {
    font-family: Alef;
    src : url("/font/Alef-Regular.ttf");
}
body{
    margin: auto;
    font-family: Alef;
    width: 100vw;
    max-width: 1024px;
}
.time{
    color : #990099;
}
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.pointer{
    cursor : pointer;
    text-align: right;
}
