.graph{
    height: 37vh;
    width: 100%;
    overflow: hidden;
}
.det{
    height: 38vh;
    width: 100%;
    border: hidden;
    border: 1px solid #888888;
    border-radius: 1vh;
    box-shadow: 0 0 0.5vh 0.5vh rgba(0,0,0,0.3);
}
.left_column{
    float  : left;
    width: 49%;
}
.center_column{
    float: left;
    width: 17%;
    margin-left: 0.5%;
}
.right_column{
    float : left;
    width: 33%;
    margin-left: 0.5%
}
.full_page{
    width: 100%;
}
.sDets{
    text-align: center;
}
.smalldet{
    float: left;
    white-space: nowrap;
    margin-top: 1vh;
    height: 38vh;
    width: 49.5%;
    border: hidden;
    border: 0.15vh solid #888888;
    border-radius: 1vh;
    box-shadow: 0 0 0.2vw 0.2vw rgba(0,0,0,0.3);
}
.cal{
    margin-top: -1vh;
    overflow: hidden;
}
.news{
    padding-right: 0.3vw;
    overflow-y: auto;
    height: 37vh;
    margin-bottom: 1vh;
}
.news td {
    box-sizing: border-box;
    padding: 0;
    height: 30px;
}
.newsHeader{
    width: 70%;
    padding-right: 1vw;
}

.calcont{
    overflow-y: scroll;
    white-space: nowrap;
    padding-bottom: 2vh;
    height: 31.5vh;
}
.smallDay{
    border: 0.15vh solid #333333;
    box-shadow: 0 0 1vh 0 rgba(0,0,0,0.5);
    margin : 0.45vh 0.2vw;
    padding-right: 1vw;
    text-align: right;
    height: 4vh;
    border-radius: 1vh;
    box-sizing: border-box;
    color: darkblue;
    font-family: Alef;
    cursor: pointer;
    overflow: hidden;
}
.wrap{
    height: 5.2vh;
}