
<div ng-controller="uploadedNewsCntr">

    <div class="search"><bdo dir="rtl">
        <span>מחבר</span>
        <input class="subjInput" ng-model="newsAuthor">
        <span>נושה</span>
        <input class="subjInput" ng-model="newsSubject">
        <div class="newsDates">
            <span>אחרי</span><input class="dateInput" placeholder="DD/MM/YYYY" ng-model="dateBefore">
            <span>לפני</span><input class="dateInput" placeholder="DD/MM/YYYY" ng-model="dateAfter">
        </div>
    </bdo></div>

    <div class="newsWrap">
        <div class="newsContainer">
            <iframe class="newsHtml" src="{{sightPreviewFile()}}"></iframe>
        </div>

        <div class="unMenu">
            <table class="un">
                <tr ng-repeat="n in newsList | filter : newsSearchObject() | dateRange : '20/03/2000' : '20/03/2020'"> ng-click="setShowIndex($index)">
                    <td ><u><span class="author">{{n.author}}</span></u><br>{{n.header}}</td>
                    <td class="time">{{shortDate(n.date_time)}}</td>
                </tr>
            </table>
        </div>



    </div>

</div>